@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100vw;
    overflow-x: hidden;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0c111c #1f2937;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0c111c;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 10px;
}

.text-gray-510 {
  color: #69707e;
}

@layer utilities {
  @variants dark {
    .text-opacity-55 {
      opacity: 55%;
    }
  }
}
