@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 600px) {
  html {
      width: 100vw;
      overflow-x: hidden;
  }
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0c111c #1f2937;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e5e7eb;
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-track {
    background: #0c111c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    border-radius: 10px;
  }
}

.text-gray-510 {
  color: #69707e;
}

.navbar-shadow {
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

@layer utilities {
  @variants dark {
    .text-opacity-55 {
      opacity: 55%;
    }

    .text-opacity-75 {
      opacity: 75%;
    }

    .navbar-shadow {
      box-shadow: none;
    }
  }
}
